*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.main{
    height: 80vh;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 35px;
}
.game-input{
    height: 8vmax;
    width: 8vmax;
    min-height: 50px;
    min-width: 50px;
    max-height:88px;
    max-width: 88px;
    border-radius: 10%;
}
.game-grid{
    height: 24vmax;
    max-height: 264px;
    display: grid;
    grid-template: auto auto auto/ auto auto auto;
    gap: 2px;
    align-items: center;
    justify-content: center;
}
.restart-btn{
    width: fit-content;
    padding: 5px;
    border-radius: 10%;
}